$logo-font: "Bungee", cursive, sans-serif;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 120px;
  width: 100%;
  padding: 0 1.5em 0 1.5em;
  background-color: #4056a1;
  color: #ffffff;

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  #logo {
    font-family: $logo-font;
    font-weight: 900;
  }

  .new_tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .new_tweet_icon {
    color: red;
  }
}
