@mixin align($align: column) {
  display: flex;
  flex-direction: $align;
}
$font-body: "Bungee", cursive, sans-serif;
$error-color: #ff0000;

.new-tweet {
  @include align;
  align-items: center;
}

textarea {
  border: none;
  background-color: #f4f1ec;
  border-bottom: 4px solid;
  height: 4em;
}

.form_new-tweet {
  width: 100%;
  @include align;
}

.add_new-tweet {
  @include align($align: row);
  justify-content: space-between;
  padding-top: 1rem;
}

.btn_submit_new-tweet {
  background-color: #4056a1;
  color: #ffffff;
  font-family: $font-body;
}

.counter {
  font-family: $font-body;
}

.counter-red {
  color: $error-color;
}

.error_message {
  color: $error-color;
  font-weight: 600;
  background-color: yellow;
  font-size: 1.2em;
  border: 3px solid;
}
