nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 120px;
  width: 100%;
  padding: 0 1.5em 0 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;


  overflow: hidden;
  position: fixed; 
  top: 0;
  width: 100%; 
}

#logo {
  font-family: 'Bungee', cursive, sans-serif;
  font-weight:  900;
}

.new_tweet {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.new_tweet_icon {
 color: red; 
}

